.header {
  text-align: center;
  color: #1b69e5;
  font-weight: bold;
  margin-bottom: 60px !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 500px;
  max-width: 500px;
  display: flex;
  padding: 10px 0 10px 0;
  margin-right: 60px;
  margin-bottom: 60px;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 80px !important;
  border-bottom-right-radius: 80px !important;
  border: 4px solid #a42af9;
}

.item_img {
  max-width: 425px;
  max-height: 292px;
  height: 292px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #dcddde;
  margin-bottom: 10px;
}

.item_title {
  max-width: 425px;
  display: block;
}

textarea {
  width: 100%;
  border: none;
  width: 440px;
  font-family: "Roboto", sans-serif;
}

textarea:disabled {
  background: none;
}

.item_price {
  max-width: 425px;
  display: block;
}

.text_wrapper {
  max-height: 220px;
  height: 175px;
}

textarea::-webkit-scrollbar {
  width: 20px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #3964ed;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #1b69e5;
}
textarea::-webkit-resizer {
  display: none;
}

.icon {
  width: 76%;
  display: flex;
  justify-content: flex-end;
  color: #f1c40f;
}
