.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 290px;
  }
  
  p {
    margin-bottom: 20px !important;
  }
  
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .success {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  