.form_div {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 80px auto;
  border-radius: 30px;
  padding: 20px;
}

.form {
  text-align: center;
  margin-top: 105px;
}

.input {
  font-size: 18px;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.button {
  margin-top: 45px;
  width: 200px;
  height: 40px;
  background-color: blueviolet;
  font-size: 15px;
  color: white;
  border-radius: 10px;
}
