.img {
  max-width: 140px;
  max-height: 120px;
}

.title {
  max-width: 170px;
}

.icon {
  font-size: 2rem !important;
  color: #3964ed;
  cursor: pointer;
}

.icon:not(:last-child) {
  margin-right: 10px;
}
