.wrapper {
  margin: 0 auto;
}

.cart {
  width: 500px;
}

.header {
  color: #3964ed;
  margin-bottom: 60px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.promo {
  display: flex;
  min-width: 470px;
  width: 650px;
  justify-content: space-between;
  margin-bottom: 30px;
}
